# Игнорировать файлы и папки, которые не нужно форматировать Prettier

# Папки и файлы, которые обычно не нужно форматировать
node_modules/
config/

# Файлы, которые могут содержать специфические настройки или код, который не должен быть изменен
.htaccess
log_project.md
AGENTS.md
CLAUDE.md